section {
  padding-top: 5rem;
}
.the-blur {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 50px;
  margin-bottom: 20px;
  background: rgba(177, 177, 177, 0.4);
  z-index: 1010;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}
